<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnpiec.demo.dao.BIPRangeMapper">
	<select id="selectBIPRange"  resultType="BIPRange">
		SELECT * FROM
		BDC_INS_IP_RANGE
	</select>
</mapper>